body {
    font-family: tahoma;
    color: #333;
    margin: 50px;
    background-color: black;
  }
  
  #header {
    grid-area: header;
  }
  
  #info {
    grid-area: info;
  }
  
  #list {
    grid-area: list;
  }
  
  #detail {
    grid-area: detail;
  }
  
  #main {
    grid-area: main;
  }
  
  #footer {
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-areas: 'header header header' 'info info info' 'list detail detail' 'list main main' 'list main main' 'list main main' 'footer footer footer';
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 200px auto auto;
    grid-gap: 1px;
    background-color: #eee;
    padding: 2px;
    box-sizing: border-box;
  }
  
  .container>div {
    background-color: #fff;
    padding: 5px;
  }
  
  .containerPart {
    display: inline-block;
    margin: 5px;
  }
  
  .containerPartRight {
    float: right;
    white-space: nowrap;
  }
  
  .containerPartLeft {
    float: left;
    white-space: nowrap;
  }
  
  select,
  ul,
  input {
    border: 2px #777 solid;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    margin-right: 5px;
    border: 2px #777 solid;
    border-radius: 5px;
    background-color: #fff;
    color: #222;
    min-width: 80px;
    font-size: 12px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .fontDark {
    color: #222;
    font-weight: 400;
  }
  
  .fontLite {
    color: #777;
    font-weight: 300;
  }
  
  .fontBig {
    font-size: 18px;
  }
  
  .fontMedium {
    font-size: 14px;
  }
  
  .fontSmall {
    font-size: 12px;
  }
  
  #calPicker {
    border: 2px #777 solid;
    border-radius: 5px;
    min-width: 300px;
    max-width: 350px;
    background-color: #fff;
  }
  
  #calPicker label {
    font-size: 14px;
    color: #2196F3;
  } 
  
  #cal_div {
    overflow-y: scroll;
    margin-bottom: 10px;
    height: 240px;
  }
  
  #cal_table {
    padding-top: 10px;
    padding-bottom: 10px;
    border-spacing: 15px;
    border-collapse: separate;
  }
  
  #cal_table td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    font-size: 14px;
    color: #2196F3;
  }
  
  #cal_table td.highlighted {
    background-color: #2196F3;
    border-radius: 50%;
    color: #fff;
  }
  
  .cal-sel-align {
    padding-left: 20px;
  }
  
  #cal_prev,
  #cal_next {
    border-style: none;
    min-width: 1px;
  }
  
  #calButtons {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  